.Login_page{
    height: 100vh;
    background-color: rgb(29, 29, 29);
  
    
}
.imagem_login_div{
    margin: auto;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center
}
.imagem_login{
    width: 150px;
    text-align: center;
    
    
}
.container_login{
    width: 40%;
    margin:  auto;
    padding-top: 100px;
    
}
.input_div_login{
    width: 80%;
    margin: 10px auto;
   
}
.input_login{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
}
.input_login:focus{
    outline: none; 
    border: 1px solid rgba(31, 31, 165, 0.63);
}
.button_login_div{
   align-items: center;
   text-align: center;
    
    
}
.button_login{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: rgba(206, 204, 204, 0.986);
}

@media (max-width: 768px) {
    .container_login{
        width: 90%;
        margin:  auto;
        padding-top: 100px;
        
    }
}